header {
    color: rgb(225, 204, 245) ;
    text-align: center;
    background-color:  rgb(57, 4, 107);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(234, 228, 243);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color:rgb(57, 4, 107);
}

textarea[name="user-input"] {
    display: block;
    margin:0 auto;
}

ul {
    width: 800px;
    height: 60px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

li {
    width: auto;
    height: auto;
    padding: 20px;
    margin: 5px;
    list-style-type: none;
    border-radius: 30px;
    text-align: center;
    
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    color: rgb(233, 211, 253);
    border: 1px solid rgb(57, 4, 107);
    
}

.p {
    background-color: rgb(137, 58, 240);    
    
}

.c {
    background-color:rgb(106, 34, 240);
   
}

.n {
    background-color: rgb(59, 40, 230);
}

#reset-button {
    border-radius: 50px;
    align-items: center;
    color: rgb(233, 211, 253);
    background-color: purple;
    width: 100px;
    height: 30px;
    
}

footer {
    color: rgb(225, 204, 245) ;
    text-align: center;
    margin-top: 20px;
}
p {
    background-color:  rgb(57, 4, 107);

}
